<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KnightDesk.Presentation.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KnightDesk.Presentation.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="ApiBaseUrl" value="https://localhost:7001" />
  </appSettings>
  <userSettings>
    <KnightDesk.Presentation.WPF.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GamePath" serializeAs="String">
        <value />
      </setting>
    </KnightDesk.Presentation.WPF.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <KnightDesk.Presentation.WPF.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://localhost:5204/api</value>
      </setting>
    </KnightDesk.Presentation.WPF.Properties.Settings>
  </applicationSettings>
</configuration>
